<!-- Footer -->
<footer id="footer">
  <!-- container -->
  <div class="container" style="justify-content: center; align-items: center; display: flex; flex-direction: column;">
      <br />
      <br />
      Liked this page?
      <br />
      <br />
      <div class="fb-share-button" data-href="http://www.rntricks.com/" data-layout="box_count" data-size="large">
        <a
          target="_blank"
          href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.rntricks.com%2F&amp;src=sdkpreparse"
          class="fb-xfbml-parse-ignore"
          >Share</a
        >
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</footer>
<!-- /Footer -->
