<!-- Footer -->
<footer id="footer">
  <!-- container -->
  <div class="container" style="justify-content: center; align-items: center; display: flex; flex-direction: column;">
    <br />
    <br />
    <%= type == 'article' ? 'Liked this article?' : 'Liked this page?' %>
    <br />
    <br />
    <div class="fb-share-button" data-href="<%= dataHref %>" data-layout="box_count" data-size="large">
      <a target="_blank" href="<%= href %>" class="fb-xfbml-parse-ignore">Share</a>
    </div>
  </div>
  <!-- /row -->
</footer>

<!-- /Footer -->

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
