<title>
  RNTricks - React Native Tips & Tricks!
</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="RNTricks" />
<meta name="description" content="Home to React Native articles, tutorials, answers, tips & tricks, and more!" />
<meta name="author" content="RNTricks" />
<meta name="theme-color" content="#b0d0d3" />
<meta property="og:url" content="https://ow.ly/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="RNTricks - React Native Tips & Tricks!" />
<meta property="og:description" content="Home to React Native articles, tutorials, answers, tips & tricks, and more!" />
<meta property="og:image" content="https://www.rntricks.com/img/default-cover.jpg" />